body {
  padding: 20px;
  background-color: #f7f7f7;
}
.container {
  max-width: 800px;
  /* margin: auto; */
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
header {
  text-align: center;
  margin-bottom: 30px;
}
h1,
h3,
h4 {
  margin-bottom: 20px;
}
.result-section {
  margin-top: 30px;
  text-align: center;
}

/* Ensure responsive margins */
@media (max-width: 576px) {
  .container {
    padding: 20px;
  }
}
