/* Style css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f9f9f9;
  --text-color: black;
  --card-bg-color: #fff;
  }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Spectral static;
}

p {
  font-size: 18px;
}

body {
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
.header-bar {
  /* background: rgb(178, 213, 224); */
}

/* drop-down */

/* Dropdown container */
.header-bar .dropdown {
  position: relative;
  display: inline-block;
  border-radius: 50px;
}

/* Dropdown content (hidden by default) */
.header-bar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.header-bar .dropdown-content li {
  display: block;
  border-radius: 5px;
}

.header-bar .dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.header-bar .dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown link hover effect */
.header-bar .dropdown-content li a:hover {
  background-color: #f1f1f1;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about {
  max-width: 1200px;
   margin: 20px auto;
  padding: 0 20px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px;
  
}

nav ul li {
  border-radius: 5px;
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--primary-color);
}


h1, h2  {
  margin-bottom: 10px;
  
}
h3 {
  margin-top: 10px;
  font-size: large;
  font-weight: 400;
  font-size: 18px;
}


.category-estimation {
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-estimation h3 {
  margin-bottom: 10px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.category-item {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: var(--card-bg-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  /* cursor: pointer; */
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .gallery-item:hover {
  /* transform: scale(1.05); */
 */

.gallery-item.active {
  background-color: var(--primary-color);
  color: #fff;
}

.gallery-item svg {
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
}

.custom-icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.mode-toggle:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
 
     }

@media (max-width: 768px) {
  .container {
    margin-left: 5px ;
  }
     
}
@media (max-width: 1024px) {
  .container {
    margin-left: 5px ;
  }
     
}
@media (max-width: 1440px) {
  .container {
    margin-left: 5px ;
  }
     
}

@media (max-width: 2560px) {
  .container {
    margin-left: 5px ;
  }
     
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
  .category-item {
    font-size: 0.8em;
    padding: 4px 8px;
  }
    
}


h1 {
color: #292929;
display: flex;
justify-content: center;
 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1200px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}
.room-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e2e8f0;
  color: #333;
  border: none;
  border-radius: 5px;
}
.estimator-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.estimator-form h2 {
  margin-top: 0;
}
.estimator-form label,
.estimator-form select,
.estimator-form input {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.estimator-form input[type="number"],
.estimator-form select {
  font-size: 14px;
  width: 100%;
  padding: 5px;
}
.estimator-form button {
  background-color: #008cba;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.estimation-card {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}
.estimation-visual {
  flex: 1;
  min-width: 200px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.estimation-details {
  flex: 2;
  min-width: 300px;
  padding: 20px;
}
.estimation-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.estimation-actions button  {
  background-color: #008cba;
  color: white;
  padding: 5px;
  width: 50%;
  
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dte-btn {
  background-color: #e2e8f0;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#estimationList {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.estimation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.estimation-item button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 3px;
  cursor: pointer;
}
#totalCostDisplay {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}
.tile-grid {
  display: grid;
  gap: 2px;
  background-color: #8888886c;
  padding: 2px;
  width: 160px;
  height: 160px;
}
.tile {
  background-color: #266999;
}

/* Style2.css */
/* House construction calculator */

/* Ensure full width on smaller screens */
.table-auto {
  width: 100%;
}

.table-auto th,
.table-auto td {
  padding: 0. 5rem;
  font-weight: 200;
}

.table-auto thead {
  background-color: var(--card-bg-color);
}

.table-auto tbody tr {
  border-bottom: 1px solid #e2e8f0;
}

.table-auto tbody tr:last-child {
  border-bottom: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .table-auto {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table-auto thead {
    display: none;
  }

  .table-auto tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .table-auto tbody tr td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: none;
  }

  .table-auto tbody tr td::before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
  }

  .clear-btn {
    width: 100%;
    padding: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 2rem;
  }

  .table-auto {
    width: 100%;
  }

  .clear-btn {
    width: auto;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 3rem;
  }

  .table-auto {
    width: 100%;
  }
  
.clear-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: black;
  background-color:#e2e8f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.clear-btn:hover {
  background-color: lightblue;
    
}

}

 
.container {
  max-width: 1200px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1,
h2 {
  
  text-align: center;
  color: #333;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
select,
input,
button {
  font-size: 14px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--primary-color);
}
#result,
#totalCost {
  margin-top: 20px;
  font-weight: bold;
}
#paintList {
  list-style-type: none;
  padding: 0;
}
#paintList li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
 
  background-color: #f44336;
  color: white;
 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.delete-btn:hover {
  background-color: #d32f2f;
}
.note {
  font-size: 14px;
}

.footer {
  margin-top: 10px;
  text-align-last: center;
  margin-bottom: 10px;
  
}

.adding-tool {
 
 text-align: center;

 margin: 10px 0 10px;
}

/* Large colorfull icons */


.i-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.category {
  text-align: center;
  width: calc(25% - 20px);
  min-width: 150px;
  margin-bottom: 20px;
}
.icon {
  font-size: 28px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}
a:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
}
@media (max-width: 1024px) {
  .category {
      width: calc(33.33% - 20px);
  }
}
@media (max-width: 768px) {
  .category {
      width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .category {
      width: 100%;
  }
  .icon {
      font-size: 36px;
  }
}
